<% layout("/layouts/boilerplate") -%>
  <!-- <%=success%> -->

  <body>
    <style>
      #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .filter {
        text-align: center;
        margin-right: 2rem;
        margin: 2rem;
        opacity: 0.7;
      }

      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }

      .filter p {
        font-size: 0.8rem;
      }


      #tax-toggle {
        height: 50px;
        margin-top: 27px;
      }

      .tax-info {
        display: none;
      }

      .navbar-nav {
        flex-wrap: wrap !important;
        justify-content: center;
      }

      @media (max-width: 1024px) {

        .nav-item {
          margin: 10px;
        }

        .navbar-nav {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      @media (max-width:768px) {
        #tax-toggle {
          display: none !important;
        }

        .navbar-nav {
          padding: 40px;
        }

        .nav-item {
          margin: 5px;
        }

        .tax-info {
          display: none;
          visibility: hidden;
          height: 0;
          margin: 0;
          padding: 0;
        
        }
      }
    </style>


    <nav class="navbar navbar-expand-md navbar-light w-100">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFilters"
          aria-controls="navbarFilters" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarFilters">
          <ul class="navbar-nav flex-wrap justify-content-center align-items-center w-100 py-2">

            <li class="nav-item filter">
              <a href="/listings?category=Trending<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-fire fa-2x"></i></div>
                <p>Trending</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=Rooms<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-bed fa-2x"></i></div>
                <p>Rooms</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=IconicCities<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-mountain-city fa-2x"></i></div>
                <p>Iconic Cities</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=Mountains<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-mountain fa-2x"></i></div>
                <p>Mountains</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=Castles<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-brands fa-fort-awesome fa-2x"></i></div>
                <p>Castles</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=Pools<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-person-swimming fa-2x"></i></div>
                <p>Pools</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=Camping<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-campground fa-2x"></i></div>
                <p>Camping</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=Farming<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-cow fa-2x"></i></div>
                <p>Farming</p>
              </a>
            </li>

            <li class="nav-item filter">
              <a href="/listings?category=Arctic<% if (location) { %>&location=<%= location %><% } %>" class="text-decoration-none text-dark text-center">
                <div><i class="fa-solid fa-snowflake fa-2x"></i></div>
                <p>Arctic</p>
              </a>
            </li>

            <!-- Tax toggle switch -->
            <li class="nav-item">
              <div id="tax-toggle" class="border rounded-3 p-2 mb-5 d-flex align-items-center bg-white ">
                <div class="form-check form-switch mb-0">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label ms-2" for="flexSwitchCheckDefault">
                    Display total after taxes
                  </label>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>


    <div class="container mt-4">
      <div class="row">
        <% for (let listing of allListing) { %>
          <div class="col-12 col-md-6 col-lg-4 mb-4 p-3">
            <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
              <div class="card h-100">
                <img src="<%= listing.image.url %>" class="card-img-top img-fluid"
                  style="height: 18rem; object-fit: cover;">

                <div class="card-body p-3">
                  <h5 class="card-title text-truncate">
                    <%= listing.title %>
                  </h5>
                  <p class="hid-price mb-1"><b>&#8377; <%= listing.price.toLocaleString('en-IN') %> /night</b></p>
                  <p class="card-text tax-info mb-1"><b>&#8377; <%= (listing.price*1.18).toLocaleString('en-IN') %>
                          /night</b> <i>  &nbsp; &nbsp; &nbsp;(18% GST included)</i></p>
                </div>
              </div>
            </a>
          </div>
          <% } %>
      </div>
    </div>




    <script>
      const taxSwitch = document.getElementById("flexSwitchCheckDefault");

      taxSwitch.addEventListener("change", () => {
        const taxInfos = document.querySelectorAll(".tax-info");
        const hidPrices = document.querySelectorAll(".hid-price");

        if (taxSwitch.checked) {
          // Show price including GST
          taxInfos.forEach(info => info.style.display = "block");
          hidPrices.forEach(price => price.style.display = "none");
        } else {
          // Show base price
          taxInfos.forEach(info => info.style.display = "none");
          hidPrices.forEach(price => price.style.display = "block");
        }
      });
    </script>

  </body>

  </html>